<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    {% if messages %}
        {% for message in messages %}
            <h2 style="color: red;">{{message}}</h2>
        {% endfor %}
    {% endif %}
    <form action="#" method="POST">
        {% csrf_token %}
        <p>Username</p>
        <input type="text" required name="username">
        <p>senha</p>
        <input type="password" required name="password">
        <button>Login</button>
    </form>
</body>
</html>