{% extends "./base.html" %}
{% block template %}
<h1>Nova tarefa</h1>
    {% if messages %}
        {% for message in messages %}
            <h2 style="color: red;">{{message}}</h2>
        {% endfor %}
    {% endif %}
    <form action="#" method="POST">
        {% csrf_token %}
        <p>Nome da tarefa</p>
        <input type="text" required name="taskname">
        <p>Descrição da tarefa</p>
        <textarea name="taskdescription" required cols="30" rows="10"></textarea>

        <button>Registrar</button>
    </form>
{% endblock %}