{% extends "./base.html" %}

{% block template %}
{% endblock %}
    <h1>Cadastro</h1>
    {% if messages %}
        {% for message in messages %}
            <h2 style="color: red;">{{message}}</h2>
        {% endfor %}
    {% endif %}
    <form action="#" method="POST">
        {% csrf_token %}
        <p>nome</p>
        <input type="text" required name="username">
        <p>email</p>
        <input type="email" required name="email">
        <p>senha</p>
        <input type="password" required name="password">
        <button>Cadastro</button>
    </form>
{% endblock %}